.ytp-left-controls .ytp-button.bookmark-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(80, 79, 79, 0.6);
  border-radius: 20%;

  transition: background-color 0.15s ease;
}

.ytp-left-controls .ytp-button.bookmark-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.bookmark-icon {
  width: 90%;
  height: 90%;
  display: block;
  object-fit: contain;
  pointer-events: none;
}
